.header { margin:0 0 32px; }
.header .title { margin:0 0 8px;font-size:1.75rem;line-height:1.4;font-weight:400; }
.date { display:block;font-size:14px;line-height:1.5;color:inherit;opacity:.7;text-transform:lowercase; }
